* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
}

/* Common */
.content {
    width: 1170px;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    line-height: 50px;
    padding: 0 41px;
    border-radius: 24.5px;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    font-size: 1.6rem;
    background-color: #171100;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

/* Header */
.header {
    background-color: #FFFCF4;
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 8px;
    z-index: 10;
}

.header.fixed {
    position: sticky;
    top: -28px;
}

.header .content {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 512px;
}

.nav ul {
    display: flex;
    margin-right: 28px;
}

.nav ul li a {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #5F5B53;
    margin-right: 42px;
}

.nav li a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    display: block;
    content: "";
    width: 12px;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #171100;
    border-radius: 1px;
}

.action .sign-up-btn {
    width: 144px;
}

/* Hero */
.hero {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 65px;
    background-color: #FFFCF4;
}

.hero .body {
    display: flex;
    justify-content: space-between;
}

.media-block {
    position: relative;
    width: 570px;
}

.media-block .hero-summary {
    position: absolute;
    top: 393px;
    right: 0;
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.summary-list {
    padding: 24px 58px 24px 24px;
}

.summary-item {
    display: flex;
    align-items: center;
}

.summary-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    border-radius: 50%;
}

.summary-item:first-child .icon {  
    background: #FFF9E8;
}

.summary-item:nth-child(2) .icon {  
    background: #FCEFFF;
}

.summary-item:nth-child(2) {
    padding: 14px 0;
}

.summary-item:last-child .icon {  
    background: #EBEAFF;
}

.summary-item .info .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.summary-item .info .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block {
    width: 470px;
    margin-top: 64px;
}

.hero .content-block .heading {
    font-family: 'Sen';
    font-weight: 600;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc-1 {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.hero .content-block .cta-group {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.courses-btn {
    background-color: #FFB900;
    padding: 0 33px;
    line-height: 64px;
    border-radius: 32px;
    margin-right: 28px;
}

.watch-video {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.watch-video .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    margin-right: 14px;
}

.watch-video span {
    display: inline-block;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.content-block .desc-2 {
    margin-top: 48px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.content-block .desc-3 {
    font-family: 'Sen';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.content-block .desc-3 strong {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 4.4rem;
    color: #171100;
}

/* Popular */
.popular {
    display: flex;
    justify-content: center;
    padding: 200px 135px;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

.popular-top .info {
    width: 458px;
}

.popular-top .info .heading {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}

.popular-top .info .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5F5B53;
}

.controls {
    display: flex;
}

.control-btn-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFB900;
    background-color: transparent;
    margin-right: 18px;
    cursor: pointer;
    color: #FFB900;
}

.control-btn-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #FFB900;
    background-color: #FFB900;
    color: #fff;
    cursor: pointer;
}

.control-btn-right:hover,
.control-btn-left:hover {
    background-color: #FFB900;
    color: #fff;
}

.courses-list {
    display: flex;
    justify-content: space-between;
}

.course-item {
    width: 370px;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.course-item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-item .info {
    position: relative;
    margin: 16px 22px 22px;
    height: 150px;
}

.course-item .info .heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
    margin-bottom: 6px;
}

.course-item .info .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.course-item .info .cost {
    position: absolute;
    bottom: 10px;
    left: 0;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-item .info .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #FFFFFF;
    padding: 12px 24px;
}

.course-item .info .btn:hover {
    background-color: #FFB900;
}

.course-item .info .rate {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
}

.course-item .info .rate .point {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 6px;
    color: #FEA31B;
}

/* Feedback */
.feedback {
    display: flex;
    justify-content: center;
    background-color: #2E2100;
    padding: 96px 0;
}

.feedback .content {
    height: 188px;
}

.feedback-list {
    display: flex;
    overflow: hidden;
    height: 200px;
}

.feedback-item {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
    /* transform: translateX(-100%);
    transition: all ease 0.3s;  */
}

.feedback-item .info {
    width: 159px;
    height: 188px;
}

.feedback-item .avt {
    background-color: transparent;
    border-radius: 50%;
    margin-bottom: 18px;
}

.feedback-item .name {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;
    margin-bottom: 4px;
}

.feedback-item .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB3;
    margin-bottom: 28px;
}

.ellipsis {
    font-size: 6px;
    color: #634700;
    cursor: pointer;
}

.ellipsis.active {
    color: #FFB900;
}

.feedback-item .content {
    position: relative;
    width: 770px;
}

.feedback-item .para {
    position: absolute;
    top: 28px;
    left: 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    padding: 200px 0;
}

.features .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features .imgs {
    position: relative;
    width: 570px;
    height: 438px;
}

.features .img-1 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.features .img-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.features .heading {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
    margin-bottom: 16px;
}

.features .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
    margin-bottom: 16px;
}

.features .btn {
    margin-top: 16px;
    background-color: #FFB900;
    padding: 0 37px;
    font-weight: 600;
    font-size: 1.6rem;
}

.feature-1 .content-block {
    width: 470px;
}

.feature-2 {
    margin-top: 200px;
}

.feature-2 .content-block {
    width: 570px;
}

.feature-2 .imgs {
    width: 470px;
}

/* Blog */
.blog {
    display: flex;
    justify-content: center;
    padding: 96px 0 140px;
    background-color: #FFFCF4;
}

.blog .body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.blog .heading {
    font-family: 'Sen';
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
    margin-bottom: 16px;
}

.blog .desc {
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
    margin-bottom: 55px;
}

.blog-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 38px;
}

.blog-item {
    width: 370px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid #E2DFDA;
}

.blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-item .content-block {
    width: 100%;
    background-color: #ffffff;
}

.blog-item .img {
    width: 370px;
    height: 250px;
    object-fit: cover;
}

.blog-item .body-block {
    padding: 20px 20px 28px;
}

.blog-item .day {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5F5B53;
}

.blog-item .day .icon {
    margin-right: 4px;
    display: flex;
    align-items: center;
}

.blog-item .separate {
    width: 160px;
    height: 1px;
    background: #E2DFDA;
    border-radius: 0.5px;
    margin-bottom: 12px;
}

.blog-item .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
    margin-bottom: 12px;
}

.blog-item .btn {
    padding: 0 21px;
    font-size: 1.4rem;
}

.blog-item .btn:hover {
    background-color: #FFB900;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    padding: 96px 0 28px;
    background-color: #2E2100;
}

.footer .row {
    display: flex;
    padding-bottom: 38px;
    border-bottom: 1px solid #59554B;
    margin-bottom: 28px;
    /* align-items: center; */
}

.row .col:first-child {
    width: 267px;
    margin-right: 145px;
}

.row .col:nth-child(2),
.row .col:nth-child(3) {
    width: 130px;
}

.row .col:nth-child(3) {
    margin: 0 130px;
}

.row .col:last-child {
    width: 231px;
}

.footer .logo {
    margin-bottom: 18px;
}

.footer .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #BFBCB2;
}

.footer .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #FFFFFF;
    width: 130px;
    border-bottom: 1px solid #59554B;
}